
@media print{
  .container{
    max-width:100% !important;
    padding: 20px;
  }

  @page {
    size: A4;
    margin: 2mm 0 0 0;
  }

  .page-break {
    page-break-before: always;
  }

  .avoid-break {
      page-break-inside: avoid;
  }

}