@tailwind base;

:root{
--color-dark-blue: #013188;
--color-teal-blue: #005fb7;
--color-azure-blue: #0093ff;
--color-light-blue: #bce0fd;
--color-yellow-orange: #ffb100;
--color-outer-space: #343D40;
--color-medium-grey: #7f7f7f;
--color-light-grey: #ebebeb;
--color-hover-grey: #e0e0e0;
}
body{
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.bg-dark-blue{
  background: var(--color-dark-blue)
}
.bg-light-grey{
  background: var(--color-light-grey)
}
.bg-medium-grey{
  background: var(--color-medium-grey)
}
.bg-hover-grey{
  background: var(--color-hover-grey)
}
.bg-teal-blue{
  background: var(--color-teal-blue)
}

.bg-azure-blue{
  background: var(--color-azure-blue)
}

.bg-yellow-orange{
  background: var(--color-yellow-orange)
}

.bg-outer-space{
  background: var(--color-outer-space)
}

.border-dark-blue{
  border-color: var(--color-dark-blue)
}

.border-teal-blue{
  border-color: var(--color-teal-blue)
}

.border-azure-blue{
  border-color: var(--color-azure-blue)
}

.border-yellow-orange{
  border-color: var(--color-yellow-orange)
}

.border-outer-space{
  border-color: var(--color-outer-space)
}

.border-medium-grey{
  border-color: var(--color-medium-grey)
}

.border-light-grey{
  border-color: var(--color-light-grey)
}
.text-medium-gray{
  color: var(--color-medium-grey)
}
.text-dark-blue{
  color: var(--color-dark-blue)
}

.text-teal-blue{
  color: var(--color-teal-blue)
}

.text-azure-blue{
  color: var(--color-azure-blue)
}

.text-yellow-orange{
  color: var(--color-yellow-orange)
}

.text-outer-space{
  color: var(--color-outer-space)
}

.text-medium-grey{
  color: var(--color-medium-grey)
}

.text-light-grey{
  color: var(--color-light-grey)
}

.partners-logo-box{
  box-shadow: 0px 2px 4px #eee, 0px -1px 4px #eee
}

.story-cover-text-shadow{
  text-shadow: 4px 4px 8px #333;
}

.breadcrumb li:not(:last-child):after{
  content: ' > ';
  color: var(--color-yellow-orange);
  padding: 0 4px;
}

.our-values li:before{
    content:"·";
    font-size:180px;
    vertical-align:top;
    line-height:80px;
    color: var(--color-yellow-orange);
}

footer .footer-menu li a{
  color: #fff;
  font-weight:lighter;
  font-size: 1.2em;
  border-bottom:none;
}

.container{
  max-width: 90%;
}
